doctype html
html
	head
		title Curso
	body
		block Cabecera
			h1= titulo
		
		a(href=url, target="_blank")= pagina
		ul
			each usuario in usuarios
				li= usuario.nombre
		
		p
		| Varias lineas. Fusce sed scelerisque ligula. Curabitur tincidunt orci convallis felis finibus malesuada. Nunc vel iaculis libero. Pellentesque porttitor, elit eu porttitor feugiat, nunc felis lobortis nunc, eu pellentesque nisi felis quis tortor. Sed ligula nibh, mattis non pretium et, ullamcorper vitae tortor. Mauris sit amet semper nisl. Sed dictum magna neque. Aliquam erat volutpat.

		block scripts
			script(src="inicio.js")